// Themes
$dark: #242424;
$light: #efefef;

// Typography
$main-source: "JetBrains Mono", sans-serif;
$source-of-title: "Space Ranger", sans-serif;

// Basic
$white: #fff;
$black: #000;

// Customs
$main: #56c432;
$secondary: #06a99d;
$stroke: #1b1919;
$filter: #ffffff90;
