// Themes
$dark: #242424;
$light: #efefef;

// Typography
$main-source: "JetBrains Mono", sans-serif;

// Basic
$white: #fff;
$black: #000;

// Customs
$main: #06a99d;
$secondary: #2c63ac;
$stroke: #1b1919;
