@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.filter {
  @include default-size();
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}
