@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.filter {
  position: relative;
  padding: 1rem 0;

  &-main {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
  }
}
