@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.header {
  @include overlay(#000000ce);
  background-image: url("/src/assets/headerDesktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 1rem 2rem;

  &-main {
    @include flexbox(column, nowrap, normal, normal);
    position: relative;
  }

  &__nav {
    @include flexbox(row, nowrap, space-between, center);
    width: 100%;

    &-api {
      color: $white;
      &:hover {
        filter: drop-shadow(1px 1px 3px $main);
      }
    }

    &-github {
      @include flexbox(row, nowrap, normal, center);
      gap: 0.5rem;
      padding: 0.2rem 1rem;
      box-shadow: 1px 1px 3px $main;
      border-radius: 0.5rem;
      outline: 1px solid $main;
      color: $main;
      transition: color 0.2s ease, background 0.2s ease;
      &:hover {
        background-color: $main;
        color: $black;
      }
      &:active {
        outline: transparent;
        box-shadow: 1px 1px 3px $stroke inset;
      }
    }
  }

  &__info {
    @include flexbox(row, wrap, center, center);
    gap: 1rem;
    padding: 2rem;
  }

  &__title {
    font-family: "Space Ranger Outline", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: $main;
    text-shadow: 1px 2px 3px $secondary, 1px 1px 3px $main;
  }
  &__text {
    color: $white;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .header {
    background-image: url("/src/assets/headerMobile.jpg");
  }
}
