@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

.main-article {
  background-image: url("https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  @include overlay(#0000008e);

  &__characters {
    position: relative;
    @include default-size();
    @include flexbox(row, wrap, space-evenly, center);
    gap: 1rem;
  }
}
